// COLORS;

$primary-color: #272727;
$secondary-color: #d3b93a;
$text-color: #eee;

// FONTS;

$font-family: "SEGOE UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

$main-bgImage-path: "../../img/fron-end-developer-becerileri.jpg";

// $main-bgImage-path: "../../img/model-1.jpg";